header.site-header
    .site-header__inner
        a.site-brand(href='/' aria-label='Natours home')
            img(src='/img/logo-white.png' alt='Natours')
        button.mobile-menu-toggle(type='button' aria-expanded='false' aria-controls='primary-navigation')
            span.sr-only Open menu
            span
            span
            span
        nav#primary-navigation.site-nav(aria-label='Primary navigation')
            .site-nav__links
                a.site-nav__link(href='/') Explore tours
                a.site-nav__link(href='/about') About us
                a.site-nav__link(href='/contact') Contact
                if user && ['admin', 'lead-guide', 'guide'].includes(user.role)
                    a.site-nav__link.site-nav__link--admin(href='/staff')
                        svg(aria-hidden='true')
                            use(xlink:href='/img/icons.svg#icon-settings')
                        | Admin
            .site-nav__account
                if user
                    a.site-nav__profile(href='/me')
                        img(src=assetUrl(user.photo, 'users') alt=`Photo of ${user.name}`)
                        span
                            small My account
                            strong=user.name.split(' ')[0]
                    button.btn.btn--ghost.nav__el--logout(type='button') Log out
                else
                    a.btn.btn--ghost(href='/login') Log in
                    a.btn.btn--light(href='/signup') Sign up
