extends base

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Choose a new password
            form.form.form--reset-password(data-token=token)
                .form__group
                    label.form__label(for='password') New password
                    .password-field
                        input#password.form__input(type='password', placeholder='password123', required, minlength='8')
                        button.password-toggle(type='button', aria-label='Show password', data-password-toggle='password')
                            span.password-toggle__icon(aria-hidden='true')
                .form__group.ma-bt-md
                    label.form__label(for='passwordConfirm') Confirm password
                    .password-field
                        input#passwordConfirm.form__input(type='password', placeholder='password123', required, minlength='8')
                        button.password-toggle(type='button', aria-label='Show password', data-password-toggle='passwordConfirm')
                            span.password-toggle__icon(aria-hidden='true')
                .form__group
                    button.btn.btn--green Save password
